@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        font-family: Helvetica, Arial, sans-serif;
    }

    a {
        @apply underline;
        color: #5e81ac;
    }
    
    a:visited {
        color: #4c566a;
    }


    :not(pre)>code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

body {
    line-height: 1.5;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em
}

h2,
h3 {
    margin-top: 1.5em;
}


blockquote,
q {
    border-left: solid 4px #bbb;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

.poetry-line {
    margin-block-start: .5em;
    margin-block-end: .5em;
    text-indent: -2em;
    margin-left: 2em;
}

.image-box {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}